<h1>Menu Session</h1>
<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Empleados" asp-action="Index">Lista de Empleados</a></li>
    <li class="list-group-item"><a asp-controller="Empleados" asp-action="SessionEmpleado">Lista de SessionEmpleado</a></li>
    <li class="list-group-item"><a asp-controller="Empleados" asp-action="SessionEmpleadosOk">Lista de SessionEmpleadoOk</a></li>


</ul>
